<div class="wrapper wrapper-small">
  <div class="frame form center-block text-center">
    <h3 class="header brand">Instafood</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field email">
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレス' %>
      </div>

      <div class="field password">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード' %>
      </div>

      <div class="field sign-up">
        <%= f.submit "ログイン", class: 'btn btn-color' %>
      </div>
    <% end %>
  </div>
  <div class="frame form sub text-center">
    アカウントをお持ちでないですか？ <%= link_to "登録する", new_user_registration_path %>
  </div>
</div>
