<div class="wrapper">
  <div class="frame">
    <div class="post-header">
      <div class="user-name">
        <%= @post.user.user_name %>
      </div>
    </div>
    <div class="post-image">
      <%= image_tag @post.image.url %>
    </div>
    <div class="post-body">
      <%= form_for @post do |f| %>
      <div class="description edit-description">
        <div>
          <div class="icon"><%= fa_icon 'map-marker'%></div>
          <%= f.text_field :restaurant, placeholder:'お店の名前' %>
        </div>

        <div>
          <div class="icon"><%= fa_icon 'globe'%></div>
          <%= f.text_field :location, placeholder:'場所' %>
        </div>

        <div>
          <div class="icon"><%= fa_icon 'cutlery'%></div>
          <%= f.text_field :menu, placeholder:'メニュー'  %>
        </div>

        <div>
          <div class="icon"><%= fa_icon 'jpy'%></div>
          <%= f.text_field :price, placeholder:'値段'  %>
        </div>
      </div>
      <div class="caption edit-caption">
        <%= f.text_field :caption, autocomplete: 'off', placeholder: 'メッセージ'  %>
        <ul class = "list-inline link-fade delete-button">
          <li><button type="submit" class="btn btn-default link-fade"><%= fa_icon "check" %></button><li>
          <li><%= link_to '<i class="fa fa-times"></i>'.html_safe, root_path, class: 'link-fade' %></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
